<?xml version="1.0"?>
 
<config>
    <modules>
        <Expressdecor_Facebook>
            <version>1.0.1</version>
        </Expressdecor_Facebook>
    </modules>
    <frontend>
        <routers>
            <facebook>
                <use>standard</use>
                <args>
                    <module>Expressdecor_Facebook</module>
                    <frontName>facebook</frontName>
                </args>
            </facebook>
        </routers>
        <layout>
            <updates>
                <facebook>
                    <file>facebook.xml</file>
                </facebook>
            </updates>
        </layout> 
    </frontend>
    <global>
        <models>
            <facebook>
                <class>Expressdecor_Facebook_Model</class>
                <resourceModel>facebook_mysql4</resourceModel>
            </facebook>
            <facebook_mysql4>
                <class>Expressdecor_Facebook_Model</class>
                <entities>
                    <facebook>
                        <table>expressdecor_facebook_customer</table>
                    </facebook>
                </entities>
            </facebook_mysql4>
            <customer>
            	<rewrite>
            		<customer>Expressdecor_Facebook_Model_Customer</customer>
            	</rewrite>
            </customer>
        </models>
        <resources>
            <facebook_setup>
                <setup>
                    <module>Expressdecor_Facebook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </facebook_setup>
            <facebook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </facebook_write>
            <facebook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </facebook_read>
        </resources>
        <blocks>
            <facebook>
                <class>Expressdecor_Facebook_Block</class>
            </facebook>
        </blocks> 
        <helpers>
            <facebook>
                <class>Expressdecor_Facebook_Helper</class>
            </facebook>
        </helpers>
    </global>
</config>