<?xml version="1.0"?>
<config>
    <modules>
        <Mageed_Page>
            <version>0.1.0</version>
        </Mageed_Page>
    </modules>

    <global>
       <blocks>
          <page>
                <rewrite>
                    <html_pager>Mageed_Page_Block_Html_Pager</html_pager>
                </rewrite>
          </page>
       </blocks>
    </global>
</config>