.product-view .product-shop .add-to-cart {
    margin-top: 0px;
    padding: 2px 15px 10px 0;}
.stock-container {
    float: right;
    margin-bottom: 11px;
    margin-left: 12px;
    margin-top: -25px;
}

.ship-time div#details_in_stock {
    color: MediumBlue;
    cursor: pointer;
    float: right;
    padding-left: 8px;
	margin-top: -20px;
    text-transform: none;
}
.calc-tab { display:none;}
.addto-chat {
    background-color: #FFFFFF;
    border-top: 1px solid #CFCFCF;
    float: right;
    width: 534px;
	margin: 0 -10px -20px;
	
}
.product-view {
    float: left;
    margin: 0 -10px -20px;
    width: 938px;
}
.product-name h1 {
    color: #311B02;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    font-weight: bold;
    margin: 11px -15px 12px;
}

.product-view .product-shop .add-to-links {    float: none;
    margin: 10px 0;}
.addto-chat-elem3 {
    float: right;
    padding-left: 403px;
    position: absolute;
}
.addto-bg {
display: none;
}