<?xml version="1.0"?>
<config>
    <modules>
        <Mageed_Adminhtml>
            <version>0.1.0</version>
        </Mageed_Adminhtml>
    </modules>

    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Mageed_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>