<?xml version="1.0" encoding="UTF-8"?>
<config>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <commercebug>
                                            <title>Configuration for Advanced Debugger</title>
                                        </commercebug>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>


	<modules>
		<Expressdecorcom_Commercebug>
			<version>1.3.0</version>
		</Expressdecorcom_Commercebug>
	</modules>

    <frontend>
        <routers>
            <commercebug>
                <use>standard</use>
                <args>
                    <module>Expressdecorcom_Commercebug</module>
                    <frontName>commercebug</frontName>
                </args>
            </commercebug>
        </routers>  
    </frontend>
	
	<global>  
		<resources>
			<commercebug_setup>
				<setup>
					<module>Expressdecorcom_Commercebug</module>
					<class>Expressdecorcom_Commercebug_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</commercebug_setup>
    
			<commercebug_write>
				<connection>
					<use>core_write</use>
				</connection>
			</commercebug_write>
			<commercebug_read>
				<connection>
					<use>core_read</use>
				</connection>
			</commercebug_read>      
		</resources> 
    
		<blocks>
			<commercebug>
				<class>Expressdecorcom_Commercebug_Block</class>
			</commercebug>
		</blocks>
		<models>
			<commercebug>
				<class>Expressdecorcom_Commercebug_Model</class>
				<resourceModel>commercebug_mysql4</resourceModel>
			</commercebug>
			
			<commercebug_mysql4>
				<class>Expressdecorcom_Commercebug_Model_Mysql4</class>
				<entities>
					<snapshot>
						<table>commercebug_snapshots</table>
					</snapshot>
					<snapshot_name>
						<table>commercebug_snapshot_names</table>
					</snapshot_name>					
				</entities>  				
			</commercebug_mysql4>
			<core>
				<rewrite>
					<layout_update>Expressdecorcom_Commercebug_Model_Layout_Update</layout_update>
				</rewrite>
			</core>			
		</models>
		
		<helpers>
			<commercebug>
				<class>Expressdecorcom_Commercebug_Helper</class>
			</commercebug>
		</helpers>
		
		<events>						
			<controller_action_predispatch>
				<observers>
					<unique_name>
						<type>singleton</type>
						<class>commercebug/collectorcontroller</class>
						<method>collectInformation</method>
					</unique_name>				
					
					<unique_name_again>
						<type>singleton</type>
						<class>commercebug/collectorsysteminfo</class>
						<method>collectInformation</method>
					</unique_name_again>		
					
				</observers>
			</controller_action_predispatch>
			
			<core_block_abstract_to_html_after>
				<observers>
					<unique_name>
						<type>singleton</type>
						<class>commercebug/collectorblocksandlayout</class>
						<method>collectInformation</method>					
					</unique_name>
				</observers>						
			</core_block_abstract_to_html_after>
			
			<model_load_after>
				<observers>
					<unique_name>
						<type>singleton</type>
						<class>commercebug/collectormodels</class>
						<method>collectInformation</method>						
					</unique_name>
				</observers>			
			</model_load_after>
			
			<eav_collection_abstract_load_before>
				<observers>
					<unique_name>
						<type>singleton</type>
						<class>commercebug/collectorcollections</class>
						<method>collectInformation</method>						
					</unique_name>
				</observers>							
			</eav_collection_abstract_load_before>
			<core_collection_abstract_load_after>
				<observers>
					<unique_name>
						<type>singleton</type>
						<class>commercebug/collectorcollections</class>
						<method>collectInformation</method>						
					</unique_name>
				</observers>				
			</core_collection_abstract_load_after>
			
<!-- 
			<resource_get_tablename>
				<observers>
					<unique_name>
						<type>singleton</type>
						<class>commercebug/collectorcollections</class>
						<method>deriveAdditionalCollections</method>						
					</unique_name>
				</observers>				
			</resource_get_tablename>
 -->
			
			
			<http_response_send_before>
				<observers>
					<unique_name>
						<type>singleton</type>
						<class>commercebug/observer</class>
						<method>addCommercebugInit</method>
					</unique_name>
				</observers>
			</http_response_send_before>
			
			<controller_action_postdispatch>
				<observers>					
					<commercebug_model_layoutviewer_observer>
						<type>singleton</type>						
						<class>Expressdecorcom_Commercebug_Model_Layoutviewer_Observer</class>
						<method>checkForLayoutDisplayRequest</method>
					</commercebug_model_layoutviewer_observer>					
				</observers>
			</controller_action_postdispatch>			
		</events>	
	</global>
	
	<default>
		<commercebug>
			<options>
				<show_interface>1</show_interface>
				<path_skin>{{base_skin}}/frontend/commercebug</path_skin>				
				<check_for_updates>1</check_for_updates>
				<update_last_check>{"date":"March 30, 2010","html":"This is where the update will go"}</update_last_check>
				<keyboard_shortcuts>1</keyboard_shortcuts>
				<access_class>commercebug/ison</access_class>
			</options>
		</commercebug>
	</default>
	
    <frontend>
        <translate>
            <modules>
                <Expressdecorcom_Commercebug>
                    <files>
                        <default>Expressdecorcom_Commercebug.csv</default>
                    </files>
                </Expressdecorcom_Commercebug>
            </modules>
        </translate>
    </frontend>
    
</config>
