<?xml version="1.0"?>
<config>
    <modules>
        <AWW_Followupemail>
            <version>3.4.3</version><platform>ce</platform>
        </AWW_Followupemail>
    </modules>

    <frontend>
        <translate>
            <modules>
                <AWW_Followupemail>
                    <files>
                        <default>AWW_Followupemail.csv</default>
                    </files>
                </AWW_Followupemail>
            </modules>
        </translate>
        <routers>
            <followupemail>
                <use>standard</use>
                <args>
                    <module>AWW_Followupemail</module>
                    <frontName>followupemail</frontName>
                </args>
            </followupemail>
        </routers>
        <layout>
            <updates>
                <followupemail>
                    <file>followupemail.xml</file>
                </followupemail>
            </updates>
        </layout>

        <events>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/observer</class>
                        <method>processSubscription</method>
                    </followupemail>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
        </events>
        
    </frontend>

    <admin>
        <routers>
            <followupemail_admin>
                <use>admin</use>
                <args>
                    <module>AWW_Followupemail</module>
                    <frontName>followupemail_admin</frontName>
                </args>
            </followupemail_admin>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <AWW_Followupemail>
                    <files>
                        <default>AWW_Followupemail.csv</default>
                    </files>
                </AWW_Followupemail>
            </modules>
        </translate>
        <menu>
            <followupemail module="followupemail">
                <title>Follow Up Email</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="followupemail">
                        <title>Manage Rules</title>
                        <sort_order>10</sort_order>
                        <action>followupemail_admin/adminhtml_rules</action>
                    </items>
                    <entries module="followupemail">
                        <title>Mail log</title>
                        <sort_order>20</sort_order>
                        <action>followupemail_admin/adminhtml_queue</action>
                    </entries>
                    <linktracking module="followupemail">
                        <title>Link Tracking</title>
                        <sort_order>30</sort_order>
                        <action>followupemail_admin/adminhtml_linktracking</action>
                    </linktracking>
                    <coupons module="followupemail">
                        <title>Coupons</title>
                        <sort_order>40</sort_order>
                        <action>followupemail_admin/adminhtml_coupons</action>
                    </coupons>
                    <settings module="followupemail">
                        <title>Settings</title>
                        <sort_order>50</sort_order>
                        <action>adminhtml/system_config/edit/section/followupemail</action>
                    </settings>
                </children>
            </followupemail>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                    <admin>
                        <children>
                            <followupemail>
                                <title>Followupemail Module</title>
                                <sort_order>10</sort_order>
                                <children>
                                    <items>
                                        <title>Rules manager</title>
                                    </items>
                                    <entries>
                                        <title>Email queue</title>
                                    </entries>
                                    <linktracking>
                                        <title>Link tracking</title>
                                    </linktracking>
                                    <coupons>
                                        <title>Coupons Management</title>
                                    </coupons>
                                    <settings>
                                        <title>Settings</title>
                                    </settings>
                                </children>
                            </followupemail>
                            <system>
                                <children>
                                    <config>
                                        <children>
                                            <followupemail>
                                                <title>aheadWorks - Follow Up Email Section</title>
                                            </followupemail>
                                        </children>
                                    </config>
                                </children>
                            </system>
                        </children>
                    </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <followupemail>
                    <file>followupemail.xml</file>
                </followupemail>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <followupemail>
                <class>AWW_Followupemail_Model</class>
                <resourceModel>followupemail_mysql4</resourceModel>
            </followupemail>
            <followupemail_mysql4>
                <class>AWW_Followupemail_Model_Mysql4</class>
                <entities>
                    <rule><table>aw_followup_rule</table></rule>
                    <queue><table>aw_followup_queue</table></queue>
                    <linktracking><table>aw_followup_link_track</table></linktracking>
                    <config><table>aw_followup_config</table></config>
                </entities>
            </followupemail_mysql4>
            <newsletter>
                <rewrite>
                    <subscriber>AWW_Followupemail_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <salesrule_mysql4>
                <rewrite>
                    <rule_collection>AWW_Followupemail_Model_Mysql4_Salesrule_Collection</rule_collection>
                </rewrite>
            </salesrule_mysql4>
            <log_resource>
                <rewrite>
                    <visitor>AWW_Followupemail_Model_Resource_Visitor</visitor>
                </rewrite>
            </log_resource>
        </models>
        <resources>
            <followupemail_setup>
                <setup>
                    <module>AWW_Followupemail</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </followupemail_setup>
            <followupemail_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </followupemail_write>
            <followupemail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </followupemail_read>
        </resources>
        <blocks>
            <followupemail>
                <class>AWW_Followupemail_Block</class>
            </followupemail>
            <!--<checkout>
                <rewrite>
                    <agreements>AWW_Followupemail_Block_Agreements</agreements>
                </rewrite>
            </checkout>-->
        </blocks>
        <helpers>
            <followupemail>
                <class>AWW_Followupemail_Helper</class>
            </followupemail>
        </helpers>
        <template>
            <email>
                <followupemail_template_variables_demo translate="label" module="followupemail">
                    <label>Follow Up Email template variables demo</label>
                    <file>followupemail_variables_demo.html</file>
                    <type>html</type>
                </followupemail_template_variables_demo>
            </email>
        </template>

        <events>
            <wishlist_share>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>wishlistShared</method>
                    </followupemail>
                </observers>
            </wishlist_share>
            <wishlist_add_product>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>wishlistProductAdd</method>
                    </followupemail>
                </observers>
            </wishlist_add_product>
            <customer_save_commit_after>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>customerAfterSave</method>
                    </followupemail>
                </observers>
            </customer_save_commit_after>
            <salesrule_rule_get_coupon_types>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>addFUECouponType</method>
                    </followupemail>
                </observers>
            </salesrule_rule_get_coupon_types>
            <controller_action_predispatch>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>checkCouponsMenu</method>
                    </followupemail>
                </observers>
            </controller_action_predispatch>
            <an_subscriber_subscribe>
                    <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>newsletterSubscribe</method>
                    </followupemail>
                </observers>
            </an_subscriber_subscribe>
            <an_subscriber_unsubscribe>
                 <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>newsletterSubscribe</method>
                    </followupemail>
                </observers>
            </an_subscriber_unsubscribe>
            <an_subscriber_delete>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>deleteSubscriber</method>
                    </followupemail>
                </observers>
            </an_subscriber_delete>
            <newsletter_subscriber_save_after>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>newsletterSubscribe</method>
                    </followupemail>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>deleteSubscriber</method>
                    </followupemail>
                </observers>
            </newsletter_subscriber_delete_after>
            <customer_save_after>
                <observers>
                    <followupemail>
                        <type>singleton</type>
                        <class>followupemail/events</class>
                        <method>checkCustomer</method>
                    </followupemail>
                </observers>
            </customer_save_after>
        </events>
        
    </global>

    <crontab>
            <jobs>
                <rule_apply_all>
                    <schedule><cron_expr>* * * * *</cron_expr></schedule>
                    <run><model>followupemail/cron::cronJobs</model></run>
                </rule_apply_all>
                <rule_apply_birthday>
                    <schedule><cron_expr>* * * * *</cron_expr></schedule>
                    <run><model>followupemail/crondaily::cronJobs</model></run>
                </rule_apply_birthday>
            </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <AWW_Followupemail />
            </modules>
        </suite>
    </phpunit>
    <default>
        <followupemail>
            <general>
                <sender>general</sender>
                <keeplog>1</keeplog>
                <displaysubscribebuttononcheckoutpage>1</displaysubscribebuttononcheckoutpage>
            </general>
        </followupemail>
    </default>
</config>
