#ascommercebug_welcome ul
{
	list-style:none;
}

#ascommercebug_welcome ul li
{
	margin-bottom:.5em;
}
#ascommercebug_welcome textarea
{
	width:50%;
}

#ascommercebug-tabs button
{
	cursor:pointer;
	padding:2px 10px 2px 10px;
}

#ascommercebug-tabs table
{
	background-color: #EEE;
	/*background-image: url(/skin/frontend/commercebug/jquery-ui-1.8.custom/css/overcast/images/ui-bg_inset-soft_50_c9c9c9_1x100.png);*/
	background-repeat: repeat-x;
	background-position: 0 0;
}

#ascommercebug-tabs table th
{
	font-weight:bold;
}

#ascommercebug-tabs table td,#ascommercebug-tabs table th
{
	padding:0 1em 0 1em;
	font-size:1em;
}

#ascommercebug-tabs table td.pathinfo, span.pathinfo
{
	font-size:.8em;
	font-family: consolas,"Lucida Console",monaco,"Courier New";
}

#ascommercebug-tabs .classname, #ascommercebug-tabs table td.classname, span.classname, #ascommercebug_layout_results li, 
div#ascommercebug_lookup_container span.classname, #ascommercebug_lookup span.classname, #ascommercebug_lookup_results .classname, 
#ascommercebug_lookup_results .pathinfo, #ascommercebug-tabs dl dd.classname, #ascommercebug-tabs dl dd.classname
{
	font-family: consolas,"Lucida Console",monaco,"Courier New";
}

#ascommercebug_page_layout_label, #ascommercebug_page_layout_label
{
	display:block;
	float:left;
	width:300px;
}

#ascommercebug-tabs h2
{
	color:#000;
}

#ascommercebug-tabs .tab-container{
	text-align:left;
}

#ascommercebug-tabs dl dt
{
	font-weight:bold;
}
#ascommercebug-tabs dl dd
{
	padding-left:25px;
}

.label_corescan
{
	display:block;
	float:left;
	clear:left;
	width:8em;
	position:relative;
	top:1px;
}
