@charset "utf-8";
/* CSS Document */

.top-banner {border:1px solid #CCC;}
.more-reasons {float:right;}
.std table th,
.std table td { padding:0px 0px; border: none; }
.std ul { list-style: none; padding-left:0em; }
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote,
.std table { margin-bottom:0em; }

#flashcontent { background:#fff;}


.frontcattxt strong a {text-decoration: underline; font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; color:#2e2e2e;}
.frontsubtxt td a {     color: #000;
    font-family: times New Roman;
    font-size: 13px;
    padding-left: 0px;
    text-decoration: none;}
.frontsubtxt td a:hover { text-decoration: underline;}
.brands tbody tr td a img { border: 1px solid #b5b2b2; padding-bottom:4px;}
.brands tbody tr td {padding-bottom:1px;}

.brands tbody tr td a img {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}
.brands tbody tr td a img:hover  {opacity:0.6;filter:alpha(opacity=0.4); filter: alpha(opacity=50);}

/*/////////////////////////////////////////////*/


#frontsubtxt a img {
left: 1140px;
    position: absolute;
    top: 580px;
    visibility: hidden;
	}

 /* commented backslash hack v2 - hide rules from IE5 Mac \*/
#frontsubtxt a:hover img {
	visibility:visible;
	}
	
#frontsubtxt ul{
	margin:0;
	padding:0;
	list-style: none;
	}
#frontsubtxt li {
	background-image: url("../images/dnbutt.gif"); /* This is to preload the hover state */
	background-repeat: no-repeat; 
	margin-top: 33px; /* For IE5 Mac only - reset to 0 below */
	margin-bottom: 65px; /* For IE5 Mac only - reset to 0 below */
	}
	
#frontsubtxt a { /* if background is on a:link IE6 won't display properly  */
	background-image: url("../images/upbutt.gif"); /*can be just background */
	background-repeat: no-repeat; /* height and or width in here will stop main image change in IE5 */
	padding-top: 32px; /* For IE5 Mac only - reset to 0 below */
	padding-left: 5px; 
	padding-bottom: 32px; /* For IE5 Mac only - reset to 0 below */
	padding-right: 32px; /* For IE5 Mac only - reset to 10 below */
	color: yellow;
	font-family: "Arial Black", sans-serif;
	text-align: center;
	/*height or width in here will stop main image change in IE5 Win
	luckily, line-height is OK! - hidden from IE5 Mac see below
	a must be block to display background-image in IE Win
	 - but also needs to be hidden from IE5 Mac see below */
	}

#frontsubtxt a/*Comment hack to hide this from IE5 - needed to extend link over button image in IE6 */{
	height:80px;
	}
 html body.cms-page-view div.wrapper div.page div.main div.col-main div.std table tbody tr td table tbody tr.frontsubtxt td a img
#frontsubtxt a:hover {
	background: url("../images/dnbutt.gif") no-repeat; /* no background-x styles work here */
	color: red; 
	}
#frontsubtxt a img {
	width: 88px; /* IE5 Win can't dynamically change size - don't use 0px to hide */
	height: 67px;
	position: absolute;
	top: 200px;
	left: 500px;
	border: 1px solid black;
	visibility: hidden;
	}

 /* commented backslash hack v2 - hide rules from IE5 Mac \*/
#frontsubtxt a {
	padding-top: 0; 
	padding-bottom: 0;
	padding-right: 10px; 
	display: block;
	line-height: 80px;
	}	
#frontsubtxt li {
	margin-top:0;
	margin-bottom:0;
	width: 80px;
	}


div.desk_the_saving {
    background-color: #AAA;
    float: left;
    height: 316px;
    position: relative;
    width: 620px;
}

.slideShow .slides {
	height: 316px;
}
.slideShow .navigation {
    background: none repeat scroll 0 0 #D5D5D5;
    font-weight: bold;
    height: 18px;
    margin: -18px 1px 0 0;
    position: absolute;
    width: 620px;
}
.slideShow .navigation li {
    float: left;
		width: 18px;
}
.slideShow .navigation a.page {
	margin: 0;
	width: 5px;
}
.slideShow .navigation a {
    background-color: #D5D5D5;
    color: #232323;
    float: left;
    font-size: 0.8em;
    margin: 0 2px 0 0;
    padding: 3px 5px;
    text-decoration: none;
}
.slideShow .navigation a:hover, .slideShow .navigation a.selected {
    background-color: #FFFFFF;
    color: #000000;
}