<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Expressdecor_Inventoryupload>
            <version>0.1.2</version>
        </Expressdecor_Inventoryupload>
    </modules>

   <global>
        <blocks>
        	<inventoryupload>
        		<class>Expressdecor_Inventoryupload_Block</class>
			</inventoryupload>        		
        </blocks>      
        <helpers>
        	<inventoryupload>
        		<class>Expressdecor_Inventoryupload_Helper</class>
			</inventoryupload>        		
        </helpers>   
        <models>
        	<inventoryupload>
        		<class>Expressdecor_Inventoryupload_Model</class>
        		<resourceModel>inventoryupload_resource</resourceModel>
        	</inventoryupload>
        	<inventoryupload_resource>
        		<class>Expressdecor_Inventoryupload_Model_Resource</class>
        		<entities>
        			<productposition><table>catalog_category_product_position_idx</table></productposition>
        		</entities>        		        		
        	</inventoryupload_resource>        	
        	<catalog_resource>
        		<rewrite>
        			<category_indexer_product>Expressdecor_Inventoryupload_Model_Resource_Category_Indexer_Product</category_indexer_product>
        		</rewrite>
        	</catalog_resource>        	 
        </models>
	    <resources>
          <inventoryupload_setup>
              <setup>
                  <module>Expressdecor_Inventoryupload</module>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </inventoryupload_setup>
          <inventoryupload_write>
              <connection>
                  <use>core_write</use>
              </connection>
          </inventoryupload_write>
          <inventoryupload_read>
              <connection>
                  <use>core_read</use>
              </connection>
          </inventoryupload_read>			
       </resources>           
    </global>
    <admin>
        <routers>
            <adminhtml>                 
                <args>
                    <modules> 
                    	<Expressdecor_Inventoryupload before="Mage_Adminhtml">Expressdecor_Inventoryupload</Expressdecor_Inventoryupload>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin> 
	<adminhtml>
        <menu>
        	<catalog>
        		<children>
        			<inventoryupload translate="title" module="inventoryupload">
                		<title>Inventory Upload</title>
                		<action>adminhtml/inventoryupload</action> 
                		<sort_order>9999</sort_order>
            		</inventoryupload>
        		</children>
        	</catalog>            
        </menu> 
    </adminhtml>    
</config> 

          