<?xml version="1.0"?>
<config>
	<modules>
	    <Expressdecor_Salesflag>
	        <version>1.3.0</version>
	    </Expressdecor_Salesflag>
	</modules>
	<global> 
	  
	 <helpers>
       <salesflag>
           <class>Expressdecor_Salesflag_Helper</class>
       </salesflag>
     </helpers>  
       
	 <models>
        <salesflag>
           <class>Expressdecor_Salesflag_Model</class>
        </salesflag>
     </models>
     
	       <resources>
            <salesflag_setup>
                <setup>
                    <module>Expressdecor_Salesflag</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesflag_setup>
            <salesflag_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesflag_write>
            <salesflag_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesflag_read>			
        </resources>    
         
	 <events>   	 
	    <checkout_cart_add_product_complete>
	      <observers>
	      <product_add_discount_observer>
	     	 <class>salesflag/expressdecor</class>
	     	 <method>ApplyDiscount</method>
	      </product_add_discount_observer>
	      </observers>	      
	    </checkout_cart_add_product_complete>
	    
		<checkout_onepage_controller_success_action>  
		   <observers>
		      <sales_place_observer>		         
		         <class>salesflag/expressdecor</class>
		            <method>flagOrder</method>
		            <method>CheckPromo</method>
		      </sales_place_observer>
		    </observers>
		</checkout_onepage_controller_success_action> 
	 </events>		
        
  	</global>
  	
</config>


	