<?xml version="1.0"?>
<config>
    <modules>
        <Mageed_Sales>
            <version>0.1.0</version>
        </Mageed_Sales>
    </modules>

    <global>
       <models>
          <sales>
                <rewrite>
                    <order_pdf_invoice>Mageed_Sales_Model_Order_Pdf_Invoice</order_pdf_invoice>
                </rewrite>
          </sales>
       </models>
    </global>
</config>