<?xml version="1.0"?>
<config>
    <modules>
        <Nicommerce_TaskManager>
            <version>0.1.2</version>
        </Nicommerce_TaskManager>
    </modules>
    <frontend>
        <routers>
            <taskmanager>
                <use>standard</use>
                <args>
                    <module>Nicommerce_TaskManager</module>
                    <frontName>taskmanager</frontName>
                </args>
            </taskmanager>
        </routers>
        <layout>
            <updates>
                <nicommerce_taskmanager module="Nicommerce_TaskManager">
                    <file>nicommerce_taskmanager.xml</file>
                </nicommerce_taskmanager>
            </updates>
        </layout>
        <translate>
            <modules>
                <Nicommerce_TaskManager>
                    <files>
                        <default>Nicommerce_TaskManager.csv</default>
                    </files>
                </Nicommerce_TaskManager>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <taskmanager>
                <use>admin</use>
                <args>
                    <module>Nicommerce_TaskManager</module>
                    <frontName>taskmanager</frontName>
                </args>
            </taskmanager>
        </routers>
   </admin>
   <adminhtml>
   	<translate>
            <modules>
                <Nicommerce_TaskManager>
                    <files>
                        <default>Nicommerce_TaskManager.csv</default>
                    </files>
                </Nicommerce_TaskManager>
            </modules>
        </translate>
        <layout>
            <updates>
                <nicommerce_taskmanager>
                    <file>nicommerce_taskmanager.xml</file>
                </nicommerce_taskmanager>
            </updates>
        </layout>
        <menu>
            <nicommerce_taskmanager translate="title" module="nicommerce_taskmanager">
                <title>Tasks</title> 
                <sort_order>40</sort_order>
                <action>taskmanager/adminhtml_taskmanager</action>
            </nicommerce_taskmanager>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>                       
                        <nicommerce_taskmanager translate="title" module="nicommerce_taskmanager">
                            <title>Task Manager</title>
                            <children>
                                <actions translate="title">
                                    <title>Actions</title>
                                    <children>
                                        <index translate="title"><title>Task Management - List Tasks</title></index>
                                        <usermarktaskaction translate="title"><title>User - Mark Task As Complete</title></usermarktaskaction>
                                        <savelist translate="title"><title>Task Management -  Save Task List</title></savelist>
                                        <deletelist translate="title"><title>Task Management -  Delete Task List</title></deletelist>
                                        <savetask translate="title"><title>Task Management -  Save Task</title></savetask>
                                        <deletetask translate="title"><title>Task Management-  Delete Task</title></deletetask>
                                        <markcompletetask translate="title"><title>Task Management -  Mark Task As Complete</title></markcompletetask>
                                    </children>
                                </actions>
                            </children>                            
                        </nicommerce_taskmanager>
                    </children>
                </admin>
            </resources>
        </acl> 
    </adminhtml>
    <global> 
		<models>
			<nicommerce_taskmanager>
				<class>Nicommerce_TaskManager_Model</class>
				<resourceModel>nicommerce_taskmanager_mysql4</resourceModel>
			</nicommerce_taskmanager>
			<nicommerce_taskmanager_mysql4>
            	<class>Nicommerce_TaskManager_Model_Mysql4</class>
            	<entities>
                    <tasklist>
                        <table>taskmanager_task_lists</table>
                    </tasklist>
                    <tasklistitem>
                        <table>taskmanager_task_list_items</table>
                    </tasklistitem>
                    <tasklistitemcomment>
                        <table>taskmanager_task_list_items_comments</table>
                    </tasklistitemcomment>
            	</entities>            	              
        	</nicommerce_taskmanager_mysql4>
		</models>
		<resources>
            <nicommerce_taskmanager_setup>
                <setup>
                    <module>Nicommerce_TaskManager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nicommerce_taskmanager_setup>
            <nicommerce_taskmanager_write>
                <connection>
                        <use>core_write</use>
                </connection>
                </nicommerce_taskmanager_write>
                <nicommerce_taskmanager_read>
                        <connection>
                                <use>core_read</use>
                        </connection>
                </nicommerce_taskmanager_read>
   		</resources>
		<blocks>     
			  <nicommerce_taskmanager>
			  	 <class>Nicommerce_TaskManager_Block</class>
			  </nicommerce_taskmanager>
		</blocks>   	
		<helpers>
			<nicommerce_taskmanager>
				<class>Nicommerce_TaskManager_Helper</class>
			</nicommerce_taskmanager>
		</helpers>
    </global>
</config>