<?xml version="1.0"?>
<config>

 <default>
    <expressdecor>
      <sales>
        <countdown_enable>1</countdown_enable>
 	<countdown_target_date>1</countdown_target_date>
      </sales>
    </expressdecor>
  </default>

    <modules>
        <Expressdecor_Adminhtml>
            <version>0.1.0</version>
        </Expressdecor_Adminhtml>
    </modules>

    <global>         
     
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Expressdecor_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
                    <catalog_product_grid>Expressdecor_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
  </global>

</config>


	
