<?xml version="1.0"?>
<config>

 <default>
    <expressdecor>
      <sales>
        <countdown_enable>1</countdown_enable>
 	<countdown_target_date>1</countdown_target_date>
      </sales>
      <slides>
        <slide1_url>1</slide1_url>
        <slide1_link>1</slide1_link>
	<slide2_url>1</slide2_url>
        <slide2_link>1</slide2_link>
	<slide3_url>1</slide3_url>
        <slide3_link>1</slide3_link>
	<slide3_url>1</slide4_url>
        <slide4_link>1</slide4_link>
	<slide5_url>1</slide5_url>
        <slide5_link>1</slide5_link>
      </slides>
    </expressdecor>

  </default>

    <modules>
        <Expressdecor_Adminhtml>
            <version>0.1.0</version>
        </Expressdecor_Adminhtml>
    </modules>

    <global>         
     
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Expressdecor_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
                    <catalog_product_grid>Expressdecor_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
  </global>

</config>


	
