<?xml version="1.0"?>
<config>
  <tabs>
   <Expressdecor  translate="label">
          <label>Expressdecor</label> 
            <sort_order>100</sort_order>
   </Expressdecor>
  </tabs>
  <sections>
    <expressdecor translate="label">
      <label>Expressdecor settings</label>
      <tab>Expressdecor</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <sales translate="label">
          <label>Countdown settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <countdown_target_date translate="label comment">
              <label>Target date</label>
              <comment>
                <![CDATA[Date and Time when countdown ends.]]>
              </comment>
              <frontend_type>text</frontend_type>
              <source_model>adminhtml/system_config_source_date_short</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </countdown_target_date>
		<!-- Second field -->
            <countdown_enable translate="label comment">
              <label>Enabled</label>
              <comment>
                <![CDATA[Enable or disable countdown timer]]>
              </comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </countdown_enable>	
          </fields>
       </sales>

       <slides translate="label">
          <label>Slideshow settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- slides fields -->
            <slide1_url translate="label comment">
              <label>Slide #1 image</label>
              <comment>
                <![CDATA[Url to slide image]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide1_url>
            <!-- slide href -->
            <slide1_link translate="label comment">
              <label>Link for slide #1</label>
              <comment>
                <![CDATA[Link for this slide.]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide1_link>
          <slide2_url translate="label comment">
              <label>Slide #2 image</label>
              <comment>
                <![CDATA[Url to slide image]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide2_url>
            <!-- slide href -->
            <slide2_link translate="label comment">
              <label>Link for slide #2</label>
              <comment>
                <![CDATA[Link for this slide.]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide2_link>
             <slide3_url translate="label comment">
              <label>Slide #3 image</label>
              <comment>
                <![CDATA[Url to slide image]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide3_url>
            <!-- slide href -->
            <slide3_link translate="label comment">
              <label>Link for slide #3</label>
              <comment>
                <![CDATA[Link for this slide.]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide3_link>
             <slide4_url translate="label comment">
              <label>Slide #4 image</label>
              <comment>
                <![CDATA[Url to slide image]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide4_url>
            <!-- slide href -->
            <slide4_link translate="label comment">
              <label>Link for slide #4</label>
              <comment>
                <![CDATA[Link for this slide.]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide4_link>
            <slide5_url translate="label comment">
              <label>Slide #5 image</label>
              <comment>
                <![CDATA[Url to slide image]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide5_url>
            <!-- slide href -->
            <slide5_link translate="label comment">
              <label>Link for slide #5</label>
              <comment>
                <![CDATA[Link for this slide.]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </slide5_link>

          </fields>
        </slides>
               
        <pages translate="label">
          <label>Css  and Free Shipping settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <static_css_date translate="label comment">
              <label>CSS Date</label>
              <comment>
                <![CDATA[Date that will show in html code .css?******.]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </static_css_date>
		<!-- Second field -->
            <free_shipping translate="label comment">
              <label>Free Shipping if order more than: </label>
              <comment>
                <![CDATA[If order summary more than this value free shipping will apply.]]>
              </comment>
              <frontend_type>text</frontend_type>   
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </free_shipping>	
<!--             3rd field-->
  			<product_shipping translate="label comment">
              <label>Product page shipping info: </label>
              <comment>
                <![CDATA[Show on products page at the left menu.]]>
              </comment>
              <frontend_type>textarea</frontend_type>   
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </product_shipping>	
<!--            4rd Field-->
  		<product_instock translate="label comment">
              <label>In stock additional information: </label>
              <comment>
                <![CDATA[Show on products page at the left menu. When item in stock.]]>
              </comment>
              <frontend_type>textarea</frontend_type>   
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </product_instock>	
 <!--            5rd Field-->
  		<product_shipping_default translate="label comment">
              <label>Shipping and Returnd default: </label>
              <comment>
                <![CDATA[Show on products page at Shipping tab.]]>
              </comment>
              <frontend_type>textarea</frontend_type>   
              <sort_order>14</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </product_shipping_default>	
            
          </fields>
       </pages>
<!-- 		Session and Cookies parameters-->
 <ses_cook translate="label">
          <label>Session and Cookies parameters</label>
          <frontend_type>text</frontend_type>
          <sort_order>99</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <promo_cookie_param translate="label comment">
              <label>Parameter name</label>
              <comment>
                <![CDATA[Promotion parameter for stored in Coockie and order field promo_code]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </promo_cookie_param>		

             <discount_param translate="label comment">
              <label>Discount parameter name</label>
              <comment>
                <![CDATA[Discount parameter name that will apply discount on checkout page]]>
              </comment>
              <frontend_type>text</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </discount_param>	
            
          </fields>
       </ses_cook>

      
      
      </groups>
    </expressdecor>

  </sections>
</config>
