<?xml version="1.0"?>
<config>
    <modules>
        <Expressdecor_Sgrid>
            <version>0.1.0</version>
        </Expressdecor_Sgrid>
    </modules>
      <frontend>
        <routers>
            <sgrid>
                <use>standard</use>
                <args>
                    <module>Expressdecor_Sgrid</module>
                    <frontName>sgrid</frontName>
                </args>
            </sgrid>
        </routers>
  <!--        <layout>
            <updates>
                <sgrid>
                    <file>sgrid.xml</file>
                </sgrid>
            </updates>
        </layout> -->   
    </frontend> 
 <global>
        <blocks>
            <sgrid>
                <class>Expressdecor_Sgrid_Block</class>
            </sgrid> 
             <adminhtml>
             	<rewrite>
             		<sales_order_grid>Expressdecor_Sgrid_Block_Sales_Order_Grid</sales_order_grid>             		
             		<sales_order_invoice_view>Expressdecor_Sgrid_Block_Sales_Order_Invoice</sales_order_invoice_view>
             		<sales_order_view>Expressdecor_Sgrid_Block_Sales_Order_View</sales_order_view>
             	</rewrite>
             </adminhtml>                  	
        </blocks>   
        <models>
        	<sgrid>
        		<class>Expressdecor_Sgrid_Model</class>
        		<resourceModel>sgrid_mysql4</resourceModel>
        	</sgrid>
        	<sgrid_mysql4>
                <class>Expressdecor_Sgrid_Model_Mysql4</class>
                <entities>
                    <sgrid>
                        <table>expressdecor_sgrid_invoice</table>
                    </sgrid>
                </entities>
            </sgrid_mysql4>
        </models>  
        <helpers>
        	<sgrid>
        		<class>Expressdecor_Sgrid_Helper</class>        		
        	</sgrid>
        </helpers> 
        <resources>
            <sgrid_setup>
                <setup>
                    <module>Expressdecor_Sgrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sgrid_setup>
            <sgrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sgrid_write>
            <sgrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sgrid_read>
       </resources>         
  </global>
  <admin>
	 <routers>
		 <sgrid>
			 <use>admin</use>
			 <args>
			 	<module>Expressdecor_Sgrid</module>
			 	<frontName>sgrid</frontName>
			 </args>
		 </sgrid>
	 </routers>
  </admin>
  <adminhtml>
  	<layout>
  		<updates>
  			<sgrid>
  				<file>sgrid.xml</file>
  			</sgrid>
  		</updates>
  	</layout>
  </adminhtml>  
</config>


