<?xml version="1.0"?>
<!-- 
/**
 * @category   Debug
 * @package    Netresearch_Debug
 * @author     Stephan Hoyer <stephan.hoyer@netresearch.de>
 * @copyright  Copyright (c) 2009 Netresearch GmbH & Co.KG <http://www.netresearch.de/>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 **/
-->

<config>
    <modules>
        <Netresearch_Debug>
            <version>0.1.0</version>
        </Netresearch_Debug>
    </modules>
    <global>
        <blocks>
            <debug>
                <class>Netresearch_Debug_Block</class>
            </debug>
        </blocks>
        <helpers>
            <debug>
                <class>Netresearch_Debug_Helper</class>
            </debug>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <debug>
                    <file>firebug.xml</file>
                </debug>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <debug>
                    <file>firebug.xml</file>
                </debug>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dev>
            <firebug>
                <enabled>1</enabled>
                <collapse>1</collapse>
            </firebug>
        </dev>
    </default>
</config>