<?xml version="1.0"?>
<config>
    <modules>
        <Expressdecor_Googleanalytics>
            <version>0.1.0</version>
        </Expressdecor_Googleanalytics>
    </modules>

 <global>
        <blocks>
           <googleanalytics>
              <rewrite>
                  <ga>Expressdecor_Googleanalytics_Block_Ga</ga> 
               </rewrite>
           </googleanalytics>
        </blocks>           
  </global>
</config>


	