<?xml version="1.0"?>
<config>
    <modules>
        <Mageed_Catalog>
            <version>0.1.0</version>
        </Mageed_Catalog>
    </modules>

    <global>
       <blocks>
          <catalog>
                <rewrite>
                    <product_view>Mageed_Catalog_Block_Product_View</product_view>
                </rewrite>
          </catalog>
       </blocks>
    </global>
</config>