ul#pronav {padding: 0 4px 28px;}
.scan {
    float: left;}
.top-search {
    background: url("../skin/frontend/expressdecor1/default/images/search-bg.gif") no-repeat scroll 0 0 #FFFFFF;
    margin: -58px 0 0 74px;
    padding: 38px 0 0 1px;
    position: absolute;
    width: 280px;
}
.header .form-search {
    clear: right;
    float: none;
    margin: -32px 0 0 4px;
    position: none;
    white-space: nowrap;
}
