<?xml version="1.0"?>
	<!--
		/** * @category Brandammo * @package Brandammo_Pronav * @author
		ModuleCreator * @license http://opensource.org/licenses/osl-3.0.php
		Open Software License (OSL 3.0) */
	-->
<config>
	<modules>
		<Brandammo_Pronav>
			<version>0.1.0</version>
		</Brandammo_Pronav>
	</modules>
	<frontend>
		<routers>
			<pronav>
				<use>standard</use>
				<args>
					<module>Brandammo_Pronav</module>
					<frontName>pronav</frontName>
				</args>
			</pronav>
		</routers>
		<layout>
			<updates>
				<pronav>
					<file>pronav.xml</file>
				</pronav>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<pronav>
				<use>admin</use>
				<args>
					<module>Brandammo_Pronav</module>
					<frontName>pronav</frontName>
				</args>
			</pronav>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<cms>
				<children>
					<items module="pronav">
						<title>ProNav</title>
						<sort_order>5</sort_order>
						<action>pronav/adminhtml_pronav</action>
					</items>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Brandammo_Pronav>
							<title>Pronav Module</title>
							<sort_order>10</sort_order>
						</Brandammo_Pronav>
						<system>
							<children>
								<config>
									<children>
										<pronav>
											<title>Custom menus</title>
											<sort_order>50</sort_order>
										</pronav>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pronav>
					<file>pronav.xml</file>
				</pronav>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<pronav>
			<pronavconfig>
				<sensitivity>2</sensitivity>
				<interval>50</interval>
				<timeout>200</timeout>
				<fadein>0</fadein>
				<fadeout>0</fadeout>
			</pronavconfig>
		</pronav>
	</default>
	<global>
		<models>
			<pronav>
				<class>Brandammo_Pronav_Model</class>
				<resourceModel>pronav_mysql4</resourceModel>
			</pronav>
			<pronav_mysql4>
				<class>Brandammo_Pronav_Model_Mysql4
				</class>
				<entities>
					<pronav>
						<table>pronav</table>
					</pronav>
				</entities>
			</pronav_mysql4>
		</models>
		<resources>
			<pronav_setup>
				<setup>
					<module>Brandammo_Pronav</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pronav_setup>
			<pronav_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pronav_write>
			<pronav_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pronav_read>
		</resources>
		<blocks>
			<pronav>
				<class>Brandammo_Pronav_Block</class>
			</pronav>
			<catalog>
            	<rewrite>
            		<navigation>Brandammo_Pronav_Block_NavigationTop</navigation>
            	</rewrite>
            </catalog>
		</blocks>
		<helpers>
			<pronav>
				<class>Brandammo_Pronav_Helper</class>
			</pronav>
		</helpers>
	</global>
</config>