
ul#pronav {
	margin: 0 auto;
	padding: 0;
	width: 950px;
	list-style: none;
	font-size: 1.1em;
	position:relative;
	z-index:99999;	
}

ul#pronav li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative; /*--Important--*/
	border-left:1px solid #7091a4;
	border-right:1px solid #55768a;
}

ul#pronav li#home-li-id {
	border-left: 0px none;
}

ul#pronav li#mixed-li-id {
	border-right: 0px none;
}


ul#pronav li .row ul li, ul#pronav li:hover .row ul li {
	border: 0px none;
}

ul#pronav li a {
color:#A7C6DD;
float:left;
font-weight:bold;
padding:5px 25px;
text-decoration: none;
}

ul#pronav li a:hover, ul#pronav li:hover a {
color:#D96708;
background: #ECF3F6;
}

ul#pronav ul ul li a:hover, ul#pronav li:hover ul li a {
border: 0px none;
}


ul#pronav ul li {
float:none;
margin:0;
color: #2F2F2F;
}


ul#pronav li a span{
	display:block;
}


ul#pronav li:hover a,ul#pronav li a:hover {
	background-position: 0 0;
	text-decoration: none;
}  /*--Hover State--*/
ul#pronav a.dashboard {
	
}

ul#pronav a.acl {
}

ul#pronav a.users {
}

ul#pronav li .sub {
	position: absolute; /*--Important--*/
	top: 28px; left: 0;
	z-index: 99999;
	background: #ECF3F6;
	float: left;
	display: none; /*--Hidden for those with js turned off--*/
	-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);
}
ul#pronav li .row { /*--If needed to break out into rows--*/
	clear: both;
	/*float: left;*/
	width: 100%;
	margin-bottom: 10px;
}
ul#pronav li .sub ul{
float:left;
list-style:none outside none;
padding:15px 0;
width:182px;
background: url(../images/vertical-tile-divider.gif) repeat-y right 0;
}

ul#pronav li .sub ul.promo {
float:left;
list-style:none outside none;
padding:25px 0 20px;
width:607px;
background: none;
}

ul#pronav li .sub ul.last{
background: none;
}

.clear {
	clear: both;
	overflow: hidden;
	width: 1px;
	text-indent: 100px;
	height: 1px;
	}
ul#pronav .sub ul li {
	width: 100%; /*--Override parent list item--*/
	color: #000;
}

ul#pronav .sub ul li {
	width: auto;
}

ul#pronav .sub ul.promo li {
	float: left;
}

ul#pronav .sub ul li h2 { /*--Sub nav heading style--*/
	padding: 0; 
	margin: 0;
	font-size: 1.3em;
	font-weight: normal;
}
ul#pronav .sub ul li h2 a { /*--Sub nav heading link style--*/
	padding: 5px 0;
	background-image: none;
	color: #000;
}

ul#pronav .sub ul li a {
	float: none;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto; /*--Override height from parent list item--*/
	background: transparent;
	padding: 3px 25px;
	display: block;
	text-decoration: none;
	color: #000;
	text-align:left;
	font-weight: normal;
	font-size: 5px;
}

ul#pronav .sub ul.promo li a {
	padding: 0px 25px;
}

ul#pronav .sub ul li.first a {
	color: #000;
	text-align:left;
	font-weight: bold;
	font-size: 13px;
}
ul#pronav .sub ul li a img.icon{
	vertical-align:middle;
}

ul#pronav .sub ul li a:hover {
	color:#D96708;
	background-position: 0 0 ;/*--Override background position--*/
	text-decoration: none;
	text-align:left;
}

ul#pronav li#forms-li-id .sub {
	padding: 0 25px 25px;
}

ul#pronav li#forms-li-id .sub ul {
	width: 240px;
}

ul#pronav li#video-li-id .sub ul {
	padding: 25px 25px 20px;
	width:550px;
}


.form-submit {
background-color:#618499;
border:1px solid #406A83;
color:#FFFFFF;
cursor:pointer;
font:bold 12px arial,sans-serif !important;
overflow:visible;
padding:1px 8px;
text-align:center;
vertical-align:middle;
width:auto;
margin-left: 3px;
}

ul#pronav li#mixed-li-id .sub ul.promo {
	width: 330px;
}

ul#pronav li#mixed-li-id .sub {
	left: -276px;
}