li#kitchen sub{ width:700px;}

#subcat-box {   float: right;
    height: 89px;
    margin: 36px 7px 0 13px;
    width: 164px;}
.subImg {}
ul#pronav li #subcat-box .subtext {
    color: #333333;
    display: block;
    font-weight: bold;
    height: 22px;
    margin: 0 10px;
    padding: 105px 0 0 0;
    position: absolute;
    text-align: center;
    width: 149px;}
.topblock{width:940px;}

ul#pronav li #subcat-box {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=50);}
ul#pronav li #subcat-box:hover  {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}

ul#pronav {
    
    /*
	margin: 0 auto;
    padding: 0 4px;
    width: 931px;
    list-style: none;
    font-size: 1.1em;
    background: url("../images/nav-bg.gif") no-repeat scroll 0 0 #DEDEDE;
    position:relative;
    z-index:99999;
    */
    background: url("../images/nav-bg.gif") no-repeat scroll 0 0 #DEDEDE;
    min-height: 40px;
    padding: 0 4px;
    text-align: left;
    width: 931px;	
}

ul#pronav li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	/*border-left:1px solid #7091a4;*/
	border-right:1px solid #6c6c6c;  
    line-height: 22px;
    /*position: relative;
    font-family:georgia; 
    text-transform:uppercase; 
    float:left; height:22px; 
    background:url(../images/bkg_nav-item-border.gif) 100% 0 no-repeat; 
    font-weight:bold; 
    font-size:11px; 
    line-height:31px; 
    padding:0 0 0 17px;  
    text-decoration:none !important; color:#fff;*/
}


ul#pronav li .row ul li, ul#pronav li:hover .row ul li {

	line-height:18px;
}

ul#pronav li:hover {
background: url("../images/top-border.gif") no-repeat scroll 0 0;    
} 
/*Mouse over sub nav */
ul#pronav li .sub .row ul li:hover{
background: none;
}

ul#pronav li a {
color:#fff;
float:left;
padding:5px 22px;
/*
font-weight:bold;

text-decoration: none;
*/

font-family: georgia;
font-size: 11px;
font-weight: bold;
text-decoration: none !important;
text-transform: uppercase;
}

/*
ul#pronav li a:hover, ul#pronav li:hover a {
color:#fff;
background: url("../images/top-border.gif") no-repeat scroll 0 0;    
}
*/

ul#pronav ul ul li a:hover, ul#pronav li:hover ul li a {
border: 0px none;
}


ul#pronav ul li {
float:none;
margin:0;
color: #2F2F2F;
}


ul#pronav li a span{
	display:block;
}


ul#pronav li:hover a,ul#pronav li a:hover {
	background:none;
	background-position: 0 0;
	text-decoration: none;
}  /*--Hover State--*/
ul#pronav a.dashboard {
	
}

ul#pronav a.acl {
}

ul#pronav a.users {
}

ul#pronav .left{ margin-right:22px; background: url(../images/drop-left.gif) repeat-y right 0;  }
ul#pronav .right{ margin-left:22px; background: url(../images/drop-right.gif) repeat-y right 0;  }

ul#pronav li .sub {
	-moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;

	position: absolute; /*--Important--*/
	top: 32px; left: 0;
	z-index: 99999;

border-bottom:1px solid #4D4D4D;
border-left:1px solid #4D4D4D;
border-right:1px solid #4D4D4D;
	float: left;
	display: none; /*--Hidden for those with js turned off--*/
	-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);
}


ul#pronav li#cat-parts .sub {
left:-203px;
}
/* ------------------------------Kitchen-------------------------------------*/
ul#pronav #cat-kitchen .sub { width:935px;}
ul#pronav li#cat-kitchen .row li {
border-right:none;  
}
ul#pronav li#cat-kitchen .sub {background:url("../images/m-bg-top.jpg") no-repeat scroll 0 0 #efefef;}
ul#pronav div#cat-kitchen .sub { width:937px}
ul#pronav li#cat-kitchen .sub {
 left: -86px;
}
ul#pronav li #subcat-box-kitchen  {opacity:0.6;filter:alpha(opacity=0.4); filter: alpha(opacity=50);}
ul#pronav li #subcat-box-kitchen:hover  {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}
ul#pronav li #subcat-box-kitchen .subtext-kitchen {
    color: #333333;
    display: block;
    font-weight: bold;
    height: 22px;
    margin: 0 10px;
    padding: 105px 0 0 0;
    position: absolute;
    text-align: center;
    width: 149px;}
#subcat-box-kitchen {
float: left;
    height: 89px;
    margin: 36px 1px 0 13px;
    width: 166px;}
/* -------------------------------Bathroom ------------------------------*/
ul#pronav #cat-bathroom .sub { width:935px;}
ul#pronav li#cat-bathroom .row li {
border-right:none;  
}
ul#pronav li#cat-bathroom .sub {background:url("../images/menu-bg-bathroom.jpg") no-repeat scroll 0 0 #efefef;}
ul#pronav div#cat-bathroom .sub { width:937px}
ul#pronav li#cat-bathroom .sub {
left: -190px;
}
	
#subcat-box-bathroom {
float: left;
    height: 89px;
    margin: 36px 1px 0 13px;
    width: 166px;}
ul#pronav li #subcat-box-bathroom  {opacity:0.6;filter:alpha(opacity=0.4); filter: alpha(opacity=50);}
ul#pronav li #subcat-box-bathroom:hover  {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}
ul#pronav li #subcat-box-bathroom .subtext-bathroom {
    color: #333333;
    display: block;
    font-weight: bold;
    height: 22px;
    margin: 0 10px;
    padding: 105px 0 0 0;
    position: absolute;
    text-align: center;
    width: 149px;}
/* ------------------------------ ------------------------------*/
/* -------------------------------sinks ------------------------------*/
ul#pronav #cat-sinks .sub { width:935px;}
ul#pronav li#cat-sinks .row li {
border-right:none;  
}
ul#pronav li#cat-sinks .sub {background:url("../images/menu-bg-sinks.jpg") no-repeat scroll 0 0 #efefef;}
ul#pronav div#cat-sinks .sub { width:937px}
ul#pronav li#cat-sinks .sub {
left: -414px;
}
ul#pronav li#cat-sinks.sinks div.sub div.row div div#subcat-box-sinks a.subImg  {opacity:0.6;filter:alpha(opacity=0.4); filter: alpha(opacity=50);}
ul#pronav li#cat-sinks.sinks div.sub div.row div div#subcat-box-sinks a.subImg:hover  {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}
ul#pronav li#cat-sinks.sinks div.sub div.row div div#subcat-box-sinks a.subImg {padding:0 0 0 0;}
#subcat-box-sinks {
    float: left;
    height: 22px;
    margin: 38px 1px 0 13px;
	 padding-left: 18px;
    width: 88px;}

/* ------------------------------ ------------------------------*/
/* -------------------------------faucets ------------------------------*/
ul#pronav #cat-faucets .sub { width:935px;}
ul#pronav li#cat-faucets .row li {
border-right:none;  
}
ul#pronav li#cat-faucets .sub {background:url("../images/menu-bg-faucets.jpg") no-repeat scroll 0 0 #efefef;}
ul#pronav div#cat-faucets .sub { width:937px}
ul#pronav li#cat-faucets .sub {
left: -310px;
}
#subcat-box-faucets {
    float: left;
    height: 110px;
    margin: 24px 1px 0 3px;
    width: 166px;}
ul#pronav li #subcat-box-faucets  {opacity:0.6;filter:alpha(opacity=0.4); filter: alpha(opacity=50);}
ul#pronav li #subcat-box-faucets:hover  {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}
ul#pronav li #subcat-box-faucets .subtext-faucets {
    color: #333333;
    display: block;
    font-weight: bold;
    height: 22px;
    margin: 0 3px;
    padding: 105px 0 0;
    position: absolute;
    text-align: center;
    width: 173px;}
/* ------------------------------ ------------------------------*/
/* -------------------------------fixtures  ------------------------------*/
ul#pronav #cat-fixtures .sub { width:935px;}
ul#pronav li#cat-fixtures .row li {
border-right:none;  
}
ul#pronav li#cat-fixtures .sub {background:url("../images/menu-bg-fixtures.jpg") no-repeat scroll 0 0 #efefef;}
ul#pronav div#cat-fixtures .sub { width:937px}
ul#pronav li#cat-fixtures .sub {
  left: -497px;
}
ul#pronav .border-bottom-fixtures {
background:url("../images/menu-bg-bottom.gif") no-repeat scroll 0 0 #5D5F5C;
height:26px;
margin:318px 5px 0 0;
position:absolute;
width:935px;
	}
ul#pronav li#cat-fixtures .sub ul {
float:left;
list-style:none outside none;
    margin-right: 92px;
    padding: 25px 0 23px 13px;
}
ul#pronav li #subcat-box-fixtures  {opacity:0.6;filter:alpha(opacity=0.4); filter: alpha(opacity=50);}
ul#pronav li #subcat-box-fixtures:hover  {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}
#subcat-box-fixtures {
    float: left;
    height: 98px;
    margin: 23px 13px 0 0px;
    width: 166px;}
ul#pronav li #subcat-box-fixtures .subtext-fixtures {
    color: #333333;
    display: block;
    font-weight: bold;
    height: 22px;
    margin: 0 10px;
    padding: 105px 0 0 0;
    position: absolute;
    text-align: center;
    width: 149px;}

/* ------------------------------ ------------------------------*/
/* -------------------------------accessories ------------------------------*/
ul#pronav #cat-accessories .sub { width:935px;}
ul#pronav li#cat-accessories .row li {
border-right:none;  
}
ul#pronav li#cat-accessories .sub {background:url("../images/menu-bg-accessories.jpg") no-repeat scroll 0 0 #efefef;}
ul#pronav div#cat-accessories .sub { width:937px}
ul#pronav li#cat-accessories .sub {
left: -606px;
}
#subcat-box-accessories {
    float: left;
    height: 110px;
    margin: 24px 1px 0 19px;
    width: 166px;}
ul#pronav li #subcat-box-accessories  {opacity:0.6;filter:alpha(opacity=0.4); filter: alpha(opacity=50);}
ul#pronav li #subcat-box-accessories:hover  {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}
ul#pronav li #subcat-box-accessories .subtext-accessories {
    color: #333333;
    display: block;
    font-weight: bold;
    height: 22px;
    margin: 0 3px;
    padding: 105px 0 0;
    position: absolute;
    text-align: center;
    width: 173px;}
/* ------------------------------ ------------------------------*/
/* -------------------------------parts  ------------------------------*/
ul#pronav #cat-parts .sub { width:935px;}
ul#pronav li#cat-parts .row li {
border-right:none;  
}
ul#pronav li#cat-parts .sub {background:url("../images/menu-bg-parts.jpg") no-repeat scroll 0 0 #efefef;}
ul#pronav div#cat-parts .sub { width:937px}
ul#pronav li#cat-parts .sub {
left: -190px;
}
ul#pronav .border-bottom-parts {
background:url("../images/menu-bg-bottom.gif") no-repeat scroll 0 0 #5D5F5C;
height:26px;
margin:336px 5px 0 0;
position:absolute;
width:935px;
	}
/* ------------------------------ ------------------------------*/
/* -------------------------------brands------------------------------*/
ul#pronav #cat-brands .sub { width:935px;}
ul#pronav li#cat-brands .row li {
border-right:none;  
}
ul#pronav li#cat-brands .sub {background:url("../images/menu-bg-brands.jpg") no-repeat scroll 0 0 #efefef;}
ul#pronav div#cat-brands .sub { width:937px}
ul#pronav li#cat-brands .sub x:-moz-any-link, x:default  {
margin-left: -807px; 
}
ul#pronav li#cat-brands .sub {
left: -825px; 
}

ul#pronav li#cat-brands .sub ul {
float:left;
list-style:none outside none;
padding:44px 0 29px 39px;
}

ul#pronav li #subcat-box-brands  {opacity:0.6;filter:alpha(opacity=0.4); filter: alpha(opacity=50);}
ul#pronav li #subcat-box-brands:hover  {opacity:1;filter:alpha(opacity=100);filter: alpha(opacity=100);}
ul#pronav li #subcat-box-brands .subtext-brands {
       color: #333333;
    display: block;
    font-weight: bold;
    height: 22px;
    margin: 0 10px;
    padding: 59px 0 0;
    position: absolute;
    text-align: center;
    width: 168px;}
ul#pronav li#cat-brands.brands div.sub div.row div div#subcat-box-brands{
    float: left;
    height: 59px;
    margin: 27px 1px 0 13px;
    width: 166px;}
ul#pronav li#cat-brands.brands div.sub div.row div div#subcat-box-brands a.subImg { padding:0;}
/* ------------------------------ ------------------------------*/
ul#pronav li .row { /*--If needed to break out into rows--*/
	clear: both;
	/*float: left;*/
	width: 100%;
	margin-bottom: 10px;
}
ul#pronav li .sub ul{
float:left;
list-style:none outside none;
margin: 52px 0 24px 13px;
/*width:182px;*/
/*background: url(../images/vertical-tile-divider.gif) repeat-y right 0;*/
}

ul#pronav li .sub ul.promo {
float:left;
list-style:none outside none;
padding:25px 0 20px;
width:607px;
background: none;
}

ul#pronav li .sub ul.last{
background: none;
}

.clear {
	clear: both;
	overflow: hidden;
	width: 1px;
	text-indent: 100px;
	height: 1px;
	}
ul#pronav .sub ul li {
	width: 100%; /*--Override parent list item--*/
	color: #000;
}

ul#pronav .sub ul li {
	width: auto;
}

ul#pronav .sub ul.promo li {
	float: left;
}

ul#pronav .sub ul li h2 { /*--Sub nav heading style--*/
	padding: 0; 
	margin: 0;
	font-size: 1.3em;
	font-weight: normal;
}
ul#pronav .sub ul li h2 a { /*--Sub nav heading link style--*/
	padding: 5px 0;
	background-image: none;
	color: #000;
}

ul#pronav .sub ul li a {
background:none repeat scroll 0 0 transparent;
color:#373737;
display:block;
float:none;
font-family:Arial;
font-size:12px;
font-weight:bold;
height:auto;
padding:0 10px;
text-align:left;
text-decoration:none;
text-indent:0;
text-transform:none;
}

ul#pronav .sub ul.promo li a {
	padding: 0px 25px;
}

ul#pronav .sub ul li.first a {
color:#000;
font-size:13px;
font-weight:bold;
text-align:left;
padding-bottom: 5px;
text-transform: none;
font-family:Georgia, "Times New Roman", Times, serif;
}
ul#pronav .sub ul li a img.icon{
	vertical-align:middle;
}

ul#pronav .sub ul li a:hover {
	color:#D96708;
	background-position: 0 0 ;/*--Override background position--*/
	text-decoration: none;
	text-align:left;
}

ul#pronav li#forms-li-id .sub {
	padding: 0 25px 25px;
}

ul#pronav li#forms-li-id .sub ul {
	width: 240px;
}

ul#pronav li#video-li-id .sub ul {
	padding: 25px 25px 20px;
	width:550px;
}


.form-submit {
background-color:#618499;
border:1px solid #406A83;
color:#FFFFFF;
cursor:pointer;
font:bold 12px arial,sans-serif !important;
overflow:visible;
padding:1px 8px;
text-align:center;
vertical-align:middle;
width:auto;
margin-left: 3px;
}

ul#pronav li#mixed-li-id .sub ul.promo {
	width: 330px;
}

ul#pronav li#mixed-li-id .sub {
	left: -276px;
}
