<?xml version="1.0"?>
<config>
    <modules>
        <Oeditor_Ordereditor>
            <version>1.4.1</version>
        </Oeditor_Ordereditor>
    </modules>
    <admin>
        <routers>
			<ordereditor>
				<use>admin</use>
				<args>
					<module>Oeditor_Ordereditor</module>
					<frontName>ordereditor</frontName>
				</args>
			</ordereditor>
        </routers>
    </admin>
    <global>
        <blocks>
            <ordereditor>
                <class>Oeditor_Ordereditor_Block</class>
            </ordereditor>
			<adminhtml>
	    	 	<rewrite>
                    <sales_order_view_info>Oeditor_Ordereditor_Block_Adminhtml_Info</sales_order_view_info>
				</rewrite>
	    	</adminhtml>
        </blocks>

        <helpers>
            <ordereditor>
                <class>Oeditor_Ordereditor_Helper</class>
            </ordereditor>
        </helpers>

	
        <!--<customer>
            <address>
                <formats>
                    <ordereditor translate="title" module="ordereditor">
                        <title>Edit Order Customer Info</title>
                        <htmlEscape>true</htmlEscape>
                        <defaultFormat><![CDATA[
 
						
{{depend prefix}}<span class="oe_edit_label">Prefix:</span><span id="oe_edit_prefix">{{var prefix}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_prefix', 'url/prefix/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<span class="oe_edit_label">First Name:</span><span id="oe_edit_firstname">{{var firstname}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_firstname', 'urlfield/firstname/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

{{depend middlename}}<span class="oe_edit_label">Middle Name:</span><span id="oe_edit_middlename">{{var middlename}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_middlename', 'urlfield/middlename/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<span class="oe_edit_label">Last Name:</span><span id="oe_edit_lastname">{{var lastname}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_lastname', 'urlfield/lastname/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

{{depend suffix}}<span class="oe_edit_label">Suffix:</span><span id="oe_edit_suffix">{{var suffix}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_suffix', 'urlfield/suffix/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}


{{depend company}}<span class="oe_edit_label">Company:</span><span id="oe_edit_company">{{var company}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_company', 'urlfield/company/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<span class="oe_edit_label">Street1:</span><span id="oe_edit_street1">{{var street1}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_street1', 'urlfield/street1/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

{{depend street2}}<span class="oe_edit_label">Street2:</span><span id="oe_edit_street2">{{var street2}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_street2', 'urlfield/street2/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend street3}}<span class="oe_edit_label">Street3:</span><span id="oe_edit_street3">{{var street3}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_street3', 'urlfield/street3/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend street4}}<span class="oe_edit_label">Street4:</span><span id="oe_edit_street4">{{var street4}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_street4', 'urlfield/street4/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend city}}<span class="oe_edit_label">City:</span><span id="oe_edit_city">{{var city}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_city', 'urlfield/city/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend region}}<span class="oe_edit_label">Region:</span><span id="oe_edit_region">{{var region}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_region', 'urlfield/region/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<span class="oe_edit_label">PostCode:</span><span id="oe_edit_postcode">{{var postcode}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_postcode', 'urlfield/postcode/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

<span class="oe_edit_label">Country:</span><span id="oe_edit_country">{{var country}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_country', 'urlfield/country/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

{{depend telephone}}<span class="oe_edit_label">Tel.:</span><span id="oe_edit_telephone">{{var telephone}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_telephone', 'urlfield/telephone/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend fax}}<span class="oe_edit_label">Fax:</span><span id="oe_edit_fax">{{var fax}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_fax', 'urlfield/fax/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}
            ]]></defaultFormat>
                    </ordereditor>
                </formats>
            </address>
 
			
			
        </customer>-->


    </global>
	 <default>
	<customer>
	
		<address_templates>
                <text><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{depend company}}{{var company}}{{/depend}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}{{/depend}}
{{depend street3}}{{var street3}}{{/depend}}
{{depend street4}}{{var street4}}{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}
{{var country}}
T: {{var telephone}}
{{depend fax}}F: {{var fax}}{{/depend}}]]></text>
                <oneline><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var city}}, {{var region}} {{var postcode}}, {{var country}}]]></oneline>


                <html>
				
				<![CDATA[
				
			 
		 
 		
{{depend prefix}}<span class="oe_edit_label">Prefix:</span><span id="oe_edit_prefix">{{var prefix}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_prefix', 'url/prefix/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<span class="oe_edit_label">First Name:</span><span id="oe_edit_firstname">{{var firstname}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_firstname', 'urlfield/firstname/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

{{depend middlename}}<span class="oe_edit_label">Middle Name:</span><span id="oe_edit_middlename">{{var middlename}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_middlename', 'urlfield/middlename/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<span class="oe_edit_label">Last Name:</span><span id="oe_edit_lastname">{{var lastname}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_lastname', 'urlfield/lastname/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

{{depend suffix}}<span class="oe_edit_label">Suffix:</span><span id="oe_edit_suffix">{{var suffix}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_suffix', 'urlfield/suffix/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}


{{depend company}}<span class="oe_edit_label">Company:</span><span id="oe_edit_company">{{var company}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_company', 'urlfield/company/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<span class="oe_edit_label">Street1:</span><span id="oe_edit_street1">{{var street1}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_street1', 'urlfield/street1/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

{{depend street2}}<span class="oe_edit_label">Street2:</span><span id="oe_edit_street2">{{var street2}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_street2', 'urlfield/street2/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend street3}}<span class="oe_edit_label">Street3:</span><span id="oe_edit_street3">{{var street3}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_street3', 'urlfield/street3/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend street4}}<span class="oe_edit_label">Street4:</span><span id="oe_edit_street4">{{var street4}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_street4', 'urlfield/street4/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend city}}<span class="oe_edit_label">City:</span><span id="oe_edit_city">{{var city}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_city', 'urlfield/city/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend region}}<span class="oe_edit_label">Region:</span><span id="oe_edit_region">{{var region}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_region', 'urlfield/region/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<span class="oe_edit_label">PostCode:</span><span id="oe_edit_postcode">{{var postcode}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_postcode', 'urlfield/postcode/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

<span class="oe_edit_label">Country:</span><span id="oe_edit_country">{{var country}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_country', 'urlfield/country/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>

{{depend telephone}}<span class="oe_edit_label">Tel.:</span><span id="oe_edit_telephone">{{var telephone}}</span><br />
<script type="text/javascript">
new Ajax.InPlaceEditor('oe_edit_telephone', 'urlfield/telephone/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

{{depend fax}}<span class="oe_edit_label">Fax:</span><span id="oe_edit_fax">{{var fax}}</span><br />
<script type="text/javascript">
  new Ajax.InPlaceEditor('oe_edit_fax', 'urlfield/fax/type/request_type/order/order_id',{ highlightColor:'#E2F1B1'});
</script>
{{/depend}}

<!-- {{depend prefix}}{{var prefix}} {{/depend}}
{{var firstname}} {{depend middlename}}
{{var middlename}} {{/depend}}
{{var lastname}}{{depend suffix}} 
{{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br />{{/depend}}
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}<br/>
{{var country}}<br/>
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}

-->
 
]]>

</html>



                  <pdf><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{depend company}}{{var company}}|{{/depend}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}|
{{var country}}|
{{depend telephone}}T: {{var telephone}}{{/depend}}|
{{depend fax}}<br/>F: {{var fax}}{{/depend}}|]]></pdf>
                <js_template><![CDATA[#{prefix} #{firstname} #{middlename} #{lastname} #{suffix}<br/>#{company}<br/>#{street0}<br/>#{street1}<br/>#{street2}<br/>#{street3}<br/>#{city}, #{region}, #{postcode}<br/>#{country_id}<br/>T: #{telephone}<br/>F: #{fax}]]></js_template>
            </address_templates>
			
	</customer>	 </default>	
</config>